._.DS_Store
.DS_Store
**/__pycache__/**

*.HEIC
model/sam_vit_h_4b8939.pth


data/*
images/**/*.png
images/**/*.jpg
!images/train/2008_000008.jpg
!images/train/2008_000008-person-luarm.png
!images/train/2010_006079.jpg
!images/train/2010_006079-person-hair.png
